# Chaves e segredos - NUNCA commitar
.env

# Ambientes virtuais
venv/
.venv/
__pycache__/
*.pyc

# Dados grandes / datasets baixados
dados/*.tsv.gz
dados/*.csv
dados/filmes_global.db
dados/title.basics_4.tsv
.RData
.Rhistory
